.users {}

.users_title {
   color: white;
   user-select: none;
}


.users_pages {
   margin: 10px auto;
   width: 25%;
   border-radius: 20px;
   overflow: hidden;

}

.pagination {
   padding: 10px 0;
   display: flex;
   justify-content: center;
   background-color: white;
}


.page:hover {
   color: lightslategray;
}

.page {
   font-size: 17px;
   cursor: pointer;
   color: white;
   font-weight: 700;
   transition: 0.7s;
}

.current_page {
   font-size: 17px;
   cursor: pointer;
   color: #ce1745;
   font-weight: 900;
}