.user {
   margin: 30px auto;
   width: 90%;
   display: flex;
   column-gap: 40px;

}

.user_left {
   font-size: 18px;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   justify-content: space-around;
   align-items: center;
   width: 10%;
   /* border: solid white 1px; */
   padding: 5px;
   /* border-radius: 15px; */
}

.user_left img {
   width: 4rem;
   height: 4rem;
   border: 1px solid white;
   border-radius: 30%;
   /* padding: 10px; */
}

.user_left button {
   padding: 10px 15px;
   font-weight: bold;
   background-color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   color: #181a1e;
   font-size: 18px;
   transition: 0.3s;
}

.user_left button:disabled {
   background-color: black;

}


.user_left button:hover {
   color: #ce1745;
   text-shadow: 0 0 2px #ce1745;

}

.user_left svg {
   color: white;
   font-size: 3rem;
   border: 1px solid white;
   border-radius: 30%;
   padding: 10px;
}

.user_right {
   width: 70%;
   border: 1px solid white;
   display: flex;
   justify-content: space-between;
   padding: 20px 10px;
   border-radius: 15px;
   color: white;
}

.user_right_info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.user_name {}

.user_status {}

.user_right_place {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-size: 20px;
}

.user_country {}

.user_city {}
