.header {
   background-color: rgb(24 26 30 / 51%);
   border-radius: 0px 0px 50px 50px;
   margin-bottom: 20px;
   padding: 20px;
}

.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 20px;
}

.header__logo {
   margin: 0px 0px 0px 50px;
   font-size: 2.5rem;
}

.header__logo svg {
   transition: 0.7s;
   color: #fff;
   cursor: pointer;
}

.header__logo svg:hover {
   color: #ce1745;
   text-shadow: 0 0 10px #ce1745;
   animation: shake 2s 1;
}


@keyframes shake {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(360deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

.header_login {
   color: #fff;
   font-size: 18px;
}


.header_login a {
   color: white;
   font-weight: 900;
   text-decoration: none;
   font-size: 20px;
}

.header_btn {
   margin: 0px 0px 0px 10px;
   padding: 5px;
   font-weight: bold;
   background-color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   color: #181a1e;
   font-size: 18px;
   transition: 0.3s;
}

.header_btn:hover {
   color: #ce1745;
   text-shadow: 0 0 2px #ce1745;

}