.profile__cover {
   border-radius: 25px 25px 0 0;
   background: url('./../../../assets/image/profile_bg.jpg');
   display: flex;
   justify-content: flex-end;
   padding: 30px 30px 0 0;
}

.profile__cover h2 {
   color: white;
   font-size: 26px;
}

.profile__img {
   display: block;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   transform: translate(0, 20%);
   border: 3px solid white;

}

.status_container {
   margin: 0px 20px 0px 0px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}