* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #404049;
}

.wrapper {}

.container {
   width: 1300px;
   margin: 0 auto;
}

.content {
   display: grid;
   grid-template-columns: 15% 85%;
   gap: 10px 20px;
}

.main {
   display: inline-block;
   background: #181a1e;
   opacity: 0.8;
   padding: 30px;
   border-radius: 20px;
}